absl-py==2.1.0
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.6.0
argcomplete==3.5.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
boto3==1.35.34
botocore==1.35.34
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dacite==1.7.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dnspython==2.7.0
executing==2.1.0
fastapi==0.100.1
fiftyone==1.0.0
fiftyone-brain==0.17.0
fiftyone_db==1.1.6
filelock==3.15.4
fire==0.6.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
ftfy==6.2.3
future==1.0.0
gast==0.6.0
glob2==0.7
google-pasta==0.2.0
graphql-core==3.2.4
grpcio==1.67.1
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
humanfriendly==10.0
humanize==4.11.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.8
imageio==2.35.1
inflate64==1.0.0
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.27.0
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
kaggle==1.6.17
kaleido==0.2.1
keras==3.6.0
keras2onnx==1.7.0
kiwisolver==1.4.7
lapx==0.5.10.post1
lazy_loader==0.4
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.18
mkl==2021.4.0
ml-dtypes==0.4.1
mongoengine==0.24.2
motor==3.5.3
MouseInfo==0.1.3
mpmath==1.3.0
multivolumefile==0.2.3
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
nvidia-cuda-runtime-cu12==12.6.68
onnx==1.16.2
onnx2pytorch==0.5.0
onnxconverter-common==1.14.0
onnxruntime-gpu==1.19.2
onnxsim==0.4.36
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
openvino==2024.3.0
openvino-telemetry==2024.1.0
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
platformdirs==4.2.2
plotly==5.24.1
plyer==2.1.0
pprintpp==0.4.0
priority==2.0.0
prompt_toolkit==3.0.47
protobuf==4.25.5
psutil==6.0.0
pure_eval==0.2.3
pushbullet.py==0.12.0
py-cpuinfo==9.0.0
py7zr==0.22.0
PyAutoGUI==0.9.54
pybboxes==0.1.6
pybcj==1.0.2
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.10.2
pydantic_core==2.27.1
pydash==8.0.3
PyGetWindow==0.0.9
Pygments==2.18.0
pymongo==4.8.0
PyMsgBox==1.0.9
pyparsing==3.1.4
pyperclip==1.9.0
pyppmd==1.1.0
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==1.0.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-multipart==0.0.18
python-slugify==8.0.4
pytweening==1.2.0
pytz==2024.1
pywin32==306
PyYAML==6.0.2
pyzmq==26.2.0
pyzstd==0.16.1
rarfile==4.2
regex==2024.9.11
requests==2.32.3
retrying==1.3.4
rich==13.8.0
s3transfer==0.10.2
sahi==0.11.18
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==70.0.0
shapely==2.0.6
six==1.16.0
sk-video==1.1.10
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.6
sse-starlette==0.10.3
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.27.0
strawberry-graphql==0.245.0
supervision==0.23.0
sympy==1.13.2
tabulate==0.9.0
tbb==2021.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
tensorrt==10.3.0
tensorrt-cu12==10.3.0
tensorrt-cu12_bindings==10.3.0
tensorrt-cu12_libs==10.3.0
tensorrt_dispatch==10.3.0
tensorrt_dispatch-cu12==10.3.0
tensorrt_dispatch-cu12_bindings==10.3.0
tensorrt_dispatch-cu12_libs==10.3.0
tensorrt_lean==10.3.0
tensorrt_lean-cu12==10.3.0
tensorrt_lean-cu12_bindings==10.3.0
tensorrt_lean-cu12_libs==10.3.0
termcolor==2.4.0
terminaltables==3.1.10
text-unidecode==1.3
texttable==1.7.0
tf2onnx==1.16.1
threadpoolctl==3.5.0
tifffile==2024.9.20
torch==2.3.1
torchaudio==2.4.1+cu124
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics==8.3.28
ultralytics-thop==2.0.6
universal-analytics-python3==1.1.1
urllib3==2.2.2
uvicorn==0.32.1
voxel51-eta==0.13.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.0
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
